
.partner-logo {
    max-width: 120px;       /* Limite la taille des logos */
    width: 100%;            /* S'assure que l'image s'adapte à sa colonne */
    height: auto;           /* Garde les proportions */
    margin: 15px auto;      /* Centrage vertical et horizontal */
    display: block;         /* Pour que le margin auto fonctionne */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animation au survol */
}

.partner-logo:hover {
    transform: scale(1.1); /* Agrandit légèrement au survol */
    opacity: 0.9;           /* Légère transparence au survol */
}
.hero-section{
    background: url('../img/hero/fontpropos.png') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
    height: 500px;
}
  /* Tous les logos auront la même taille max et centrés */
  .partner-logo {
    max-width: 200px; /* largeur max */
    max-height: 200px; /* hauteur max */
    object-fit: contain; /* conserve le ratio sans déformation */
    margin: 0 auto; /* centre dans la colonne */
    display: block;
  }